.card {
  display: flex;
  flex-direction: column;
  background-color: #3c3d3c;
  color: white;
  border-radius: 20px;
  padding: 10px;
  box-shadow: grey;
  margin-right: 15px;
  min-height: 200px;
  min-width: 300px;
}

.card theme {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2rem;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.card description {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  margin-bottom: 20px;
}

.card a {
  padding: 10px;
  border: 1px solid white;
  text-decoration: none;
  border-radius: 10px;
  background-color: white;
  color: #3c3d3c;
}
