* {
    margin: 0;
    padding: 0;
}

body {
    background: #a39d9d;
    width: 100vw;
    height: 100vh;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    color: #fbfbfb;
}

header {
    width: 100%;
    background: #0d0c0c;
}

.main-header > .container {
    text-align: center;
    color: #fbfbfb;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px 20px;
}
