.getting-started {
  display: flex;
  flex-direction: column;
  align-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.getting-started .introduction p {
  color: #3c3d3c;
  font-size: 1rem;
  font-weight: bold;
}

.getting-started .introduction h2 {
  color: white;
  font-size: 5rem;
  font-weight: bold;
}
