@model PollDto

<div class="container">
    @if (Model.CategoryDtos.Count > 0)
    {
        foreach (var cat in Model.CategoryDtos) 
        {
            @await Component.InvokeAsync("CategoryResults", new { CategoryId = cat.Id })
        }
    }
</div>