<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] - Triumph Voting System</title>

    <link rel="stylesheet" href="~/library/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/library/css/animate.css">

    <link rel="stylesheet" href="~/library/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/library/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/library/css/magnific-popup.css">

    <link rel="stylesheet" href="~/library/css/aos.css">

    <link rel="stylesheet" href="~/library/css/ionicons.min.css">

    <link rel="stylesheet" href="~/library/css/flaticon.css">
    <link rel="stylesheet" href="~/library/css/icomoon.css">
    <link rel="stylesheet" href="~/library/css/style.css">

    <link href="~/css/styles.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar ftco-navbar-light site-navbar-target" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="#">Simple E-Voting System - Result Page For @ViewData["Title"]</a>
        </div>
    </nav>
    <div class="main">
        @RenderBody()
    </div>

    <script src="~/library/js/jquery.min.js"></script>
    <script src="~/library/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/library/js/popper.min.js"></script>
    <script src="~/library/js/bootstrap.min.js"></script>
    <script src="~/library/js/jquery.easing.1.3.js"></script>
    <script src="~/library/js/jquery.waypoints.min.js"></script>
    <script src="~/library/js/jquery.stellar.min.js"></script>
    <script src="~/library/js/owl.carousel.min.js"></script>
    <script src="~/library/js/jquery.magnific-popup.min.js"></script>
    <script src="~/library/js/aos.js"></script>
    <script src="~/library/js/jquery.animateNumber.min.js"></script>
    <script src="~/library/js/scrollax.min.js"></script>

    <script src="~/library/js/main.js"></script>
    <script src="~/js/site.js"></script>
</body>
</html>
